<div class="wrapper">
  <div class="filter_menu" [class.invisible]="!isVisible">
    <div class="filter_menu__box">
      <div class="filter_menu__header_box">
        <h4 class="has-text-centered">FILTER</h4>
      </div>
      <div class="filter_menu__items">
        <ul>
          <li (click)="filter = 'all'">ALL</li>
          <li (click)="filter = 'availability'">AVAILABLE</li>
          <li (click)="filter = 'charge'">CHARGING</li>
          <!-- <li>DISTANCE</li> -->
        </ul>
      </div>
      <div
        *ngIf="filter === 'charge'"
        class="filter_menu__charge_slider_container"
      >
        <label for="charge_selector">sort by minimum charging: </label>
        <div class="filter_menu__slider">
          <!-- <div "></div> -->
          <input
            class="slider__box"
            type="range"
            name="charge_selector"
            id="charge_selector"
            max="99"
            min="0"
            aria-label="input slider for charging value"
          />
          <div class="slider__button" id="slider__button1"></div>
        </div>
        <div class="filter_menu__slider_text">
          <h3>0%</h3>
          <h3>100%</h3>
        </div>
      </div>
    </div>
  </div>
  <button
    aria-label="opening filter menu"
    (click)="toggleVisibility()"
    class="filter_menu__open_button"
    [class.closed]="!isVisible"
  >
    <img
      src="assets/images/button_icon.svg"
      alt="button to open a filter menu"
    />
  </button>
</div>
