<div class="wrapper" [class.hidden]="!isVisible">
  <div class="filter_menu" [class.invisible]="!isVisible">
    <div class="filter_menu__box">
      <div class="filter_menu__header_box">
        <h4 class="has-text-centered">FILTER</h4>
      </div>
      <div class="filter_menu__items">
        <!-- All markers filters list -->
        <ul class="filter_menu__objects_list">
          <li (click)="objectsFilter = 'all'; handleObjectsClicks()">ALL</li>
          <li (click)="objectsFilter = 'vehicles'; handleObjectsClicks()">
            VEHICLES
          </li>
          <li (click)="objectsFilter = 'parking'; handleObjectsClicks()">
            PARKINGS
          </li>
          <li (click)="objectsFilter = 'info'; handleObjectsClicks()">INFO</li>
        </ul>
        <!-- End of All markers filters list -->

        <!-- Vehicle filters menu -->
        <ul *ngIf="objectsFilter === 'vehicles'" class="filter_menu__filters">
          <li (click)="filter = 'all'; handleVehicleFilterClicks()">all</li>
          <li (click)="filter = 'availability'; handleVehicleFilterClicks()">
            available
          </li>
          <li (click)="filter = 'charge'; handleVehicleFilterClicks()">
            charging
          </li>
        </ul>
        <div
          *ngIf="filter === 'charge' && objectsFilter === 'vehicles'"
          class="filter_menu__charge_slider_container"
        >
          <label for="charge_selector">sort by minimum charging: </label>
          <div class="filter_menu__slider">
            <input
              #inputRef
              class="slider__box"
              type="range"
              name="charge_selector"
              id="charge_selector"
              max="99"
              min="0"
              [(ngModel)]="chargingValue"
              (change)="handleValueChange(inputSpan)"
              aria-label="input slider for charging value"
            />
            <div class="filter_menu__slider_value">
              <span #inputSpan>
                {{ chargingValue }}
              </span>
            </div>
          </div>
          <div class="filter_menu__slider_text">
            <h6>0%</h6>
            <h6>100%</h6>
          </div>
        </div>
        <!-- End of Vehicle filters menu -->

        <!-- Parkings filters -->
        <div *ngIf="objectsFilter === 'parking'" class="filter_menu__parkings">
          <ul class="filter_menu__filters">
            <li (click)="parkings = 'all'; handleParkingFilter()">All</li>
            <li (click)="parkings = 'charger'; handleParkingFilter()">
              With charger
            </li>
            <li (click)="parkings = 'available'; handleParkingFilter()">
              Available
            </li>
          </ul>
        </div>
        <!-- End of Parkings filters -->
      </div>
    </div>
  </div>
  <button
    aria-label="opening filter menu"
    (click)="toggleVisibility()"
    class="filter_menu__open_button"
    [class.closed]="!isVisible"
  >
    <img
      src="assets/images/button_icon.svg"
      alt="button to open a filter menu"
    />
  </button>
</div>
