/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

@import "../node_modules/bulma/css/bulma.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  /* margin-top: 35px; */
  height: 100vh !important;
  width: 100vw !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
}

.vehicle_bubble > p {
  margin-top: 2px;
}
.parking_bubble > p {
  margin-top: 2px;
}
